<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /test/
    RewriteCond %{REQUEST_FILENAME} !/(css|fonts|ico|js)/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Handle Front Controller...
    RewriteRule ^ index.php [L]

</IfModule>
